@charset "UTF-8";
*{
	margin : 0 auto;
}
/* 헤더 CSS */
.HeaderContainer {
	width: 90%;
	margin : 0 auto;
	height : 150px;	
}
.HeaderLogo {
	display: inline-block;
	width : 15%;
	height : 80%;
	position : relative;
	left : 2%;
	top : 5%;
}
/* 마이메뉴css */
.myMenu{
	display: none;
	width: 100px;
	height: 150px;
	position: absolute;
	left: 300px;
	border : 1px solid #9bb7d6;
	margin: 0px;
}
.myMenu ul{
	list-style: none;
}
.search {
	display : inline-block;
	width : 70%;
	height : 20%;
	position : relative;
	bottom : 26%;
	left : 3%;
}

.searchbox {
	width : 90%;
	height : 100%;
	border-radius : 0.2em;
}

.searchBtn{
	width : 38px ;
	height : 100%;
	background-color: #9bb7d6; 
	border-radius : 0.5em;
}
.headerMenu{
	display : inline-block;
	position : relative;
	bottom: 75%;
	float : right;
	color : #9bb7d6;
}
.serchDTL{
	display : inline-block;
	position : relative;
	float : left;
	left : 18.5%;
	bottom: 20%;	
}
.searchDTLBTN{
	height : 30px;
	background-color: #9bb7d6; 
	border-radius : 0.5em;
}
/* 헤더 CSS 종료 */

/* Footer CSS */
.footer {
    position:relative;
    left: 0;
    bottom: 0px;
    width: 100%;
	padding: 30px 0 ;
	
	text-align: left;
	size: 15px;
	color: white;
	background: #9bb7d6;
}
.select *{
	font-weight:bold;
	vertical-align: middle;
	text-decoration: none;
}
.select, .info {
	padding-left: 30px;
}
/* Footer CSS 종료 */

table{
	border-collapse: collapse;
}
.eventTd{
	color : #A4A4A4;
	border-bottom : solid 1px #A4A4A4;
	cursor : pointer;
}

#selectTd{
	border-bottom : solid 3px blue;
	color : blue;
	font : bold large;
}

.picture{
	width : 90%;
}

.enterTitle{
	cursor : pointer;
}

.eventTitle{
	display : inline-block;
	position : static;
	width : 80%;
	text-align : left;
	font-weight : bold;
}

.eventCount{
	display : inline-block;
	position : static;
	width : 15%;
	text-align : right;
}

#list {
	display : inline-block;
	position : static;
	width : 11%;
	text-align:right;
}

#reply {
	display : inline-block;
	position : static;
	width : 80%;
	text-align : left;
}

#like {
	display : inline-block;
	position : static;
	width : 8%;
}

.likeReply{
	padding : 5px 0;
	border-bottom : solid black 1px;
}

.eventPeriod{
	display : inline-block;
	position : static;
	width: 95%;
	text-align : left;
}

.DTLHeader{
	border-bottom: solid 1px black;
	border-top : solid 3px black;
}

.DTLLine { border-bottom: solid 1px black; }

.h_wrap{
	width:100%;
	height : 150px;
	background-color: #B4C3FF;
	margin : 7px 0;
}

.endEventLine{
	border-bottom: dotted 1px black;
}

a{
	text-decoration: none;
}

span{
	display : inline-block;
	position : static;
}

.repleHead{
	display : inline-block;
	position : static;
	font-size : 20px;
	padding : 5px;
	margin : 2px;
}

#replyContent{
	display : inline-block;
	position : static;
	width : 80%;
	text-align: left;
}

#reReply{
	display : inline-block;
	position : static;
	width : 19%;
	text-align : right;
	cursor: pointer;
}

#declaration{
	width : 5% ;
	text-align : right;
	cursor: pointer;
}

.replyContainer {
	margin : 15px;
}

.enterReplyContainer{
	width : 95%;
	height : 130px;
	background:#E6E6E6;
	border-top : 1px #E6E6E6 solid;
	margin-left:1%;
	padding : 8px;	
	margin-bottom : 10px;
	border-radius : 0.3em;
	margin-top:5px;
}

.enterReply{
	display : inline-block;
	position : static;
	width : 75%;
	height : 80%;
	text-align : left;
	margin : 10px 0 0 10px;
}

.replyEnterBtn{
	display : inline-block;
	position : absolute;
	text-align : right;
	margin-top : 25px;
	width : 15%;
}

#replyBtn{
	width : 90%;
	height : 50px;
	border-radius : 0.5em;
}

#date{
	display : inline-block;
	position : static;
	width :85%;
}

#reReplyContainer{
	display : none;
}
#replyBox {
	width : 90%;
	margin : 0 auto;
}
#boardTitle{
	text-align : center;
	margin : auto;
}
