<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--자주 사용하는 type의 별칭 지정하기  -->
  	<typeAliases>
  		<typeAlias type="com.example.hugo.dto.HotSpotDTO" alias="HotSpotDTO"/>
  	</typeAliases>
  
</configuration>