@charset "UTF-8";

/* slide CSS*/
#restaurantView_body {
	width: 100%;
}

.swiper-container {
	margin-top: 40px;
	width: 100%;
	height: 50%;
}

.swiper-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 90%;
	margin-bottom: 50px;
}

.swiper-slide {
	width: 30%;
	height: 380px;
	opacity: 0.4;
	transition: opacity 0.3s;
}

.slideMainImage {
	border: 5px solid #9bb7d6;
	margin-left: 30px;
	width: 82%;
	height: 250px;
	cursor: pointer;
	margin-bottom: 50px;
}

.swiper-slide-active, .swiper-slide-active+.swiper-slide,
	.swiper-slide-active+.swiper-slide+.swiper-slide, .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide
	{
	opacity: 1
}

#restaurants-star1 {
	font-size: 4em;
	width: 100%;
	height: 100%;
	line-height: 30px;
	background-color: white;
	border: white;
	color: #9bb7d6;
	cursor: pointer;
	color: #9bb7d6;
}

#restaurants-star2 {
	font-size: 4em;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border: white;
	background-color: white;
	color: #9bb7d6;
	cursor: pointer;
}

.image-more {
	margin-top: 10px;
	width: 100%;
	text-align: right;
}

.image-more a {
	padding-right: 240px;
	color: gray;
	font-size: 25px;
	text-decoration: none;
}

.restaurants-view {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 50px;
	font-size: 0.8em;
}

.restaurants-info {
	width: 50%;
	height: 700px;
}

.restaurants-map {
	width: 60%;
	height: 600px;
	margin-top: 30px;
	margin-left: 100px;
	padding: 20px;
}

#map {
	width: 100%;
	height: 500px;
	border: 5px solid #9bb7d6;
}

.restaurants-info-head {
	display: flex;
	width: 100%;
	height: 60px;
}

.restaurants-detail {
	padding-top: 10px;
	width: 90%;
	height: 300px;
	margin: auto;
	font-size: 23px;
	border-top: 1px solid black;
}

.restaurants-detail td {
	padding-left: 40px;
}

.restaurants-name {
	font-size: 35px;
	font-weight: bold;
	margin: auto;
}

.restaurants-steamed {
	width: 10%;
	margin-right: 20px;
	text-align: right;
}

.restaurants-count-info {
	font-size: 30px;
	font-weight: bold;
	padding-left: 35px;
}

.restaurants-fixInfo {
	font-size: 0.9em;
	padding-top: 10px;
	padding-left: 20px;
}

.restaurants-info-update {
	color: gray;
	margin-top: 25px;
	text-align: right;
}
/* slide CSS 종료*/

/* review section */
a:active {
	color: gray;
}

a {
	text-decoration: none;
}

.restaurants-review-section {
	width: 80%;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 200px;
}

.restaurants-review-header {
	margin: auto;
	width: 100%;
	height: 50px;
	font-size: 35px;
	font-weight: bold;
	padding-left: 30px;
	color: #9bb7d6;
}

.restaurants-review-sort {
	width: 100%;
	text-align: right;
	border-bottom: 2px solid black;
	font-size: 25px;
	height: 50px;
}

.restaurants-review-sort span {
	padding: 10px 20px 10px 0;
}

.RestaurantReviewList__Empty {
	margin: auto;
	text-align: center;
	font-size: 1.5em;
	margin-top: 50px;
	color: #9bb7d6;
}

.restaurants-review-writeInfo {
	width: 100%;
	height: 50px;
	font-size: 1.5em;
	text-align: right;
	padding-top: 15px;
}

.restaurants-review-writeInfo a {
	padding-right: 30px;
}

.restaurants-review-list {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid gray;
}

.restaurants-review-head {
	width: 20%;
	height: 300px;
}

.restaurants-review-contents {
	width: 60%;
	height: 200px;
	font-size: 1.2em;
}

.restaurants-review-steamed {
	margin: 200px 20px 20px 20px;
	width: 20%;
	height: 70px;
	border: 1px solid black;
	text-align: center;
	line-height: 70px;
	font-size: 1.4em;
	font-weight: bold;
	color: black;
	background-color: #9bb7d6;
	cursor: pointer;
	border-radius: 0.5em;
}

.restaurants-review-head-image {
	border: 1px solid black;
	margin: auto;
	margin-top: 30px;
	width: 120px;
	height: 120px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	font-size: 1.7em;
	line-height: 140px;
	font-weight: bold;
	margin-left: 70px;
}

.restaurants-review-head-name {
	margin: auto;
	width: 80%;
	height: 20px;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.2em;
	color: #9bb7d6;
}

.restaurants-review-head-star5 {
	margin: auto;
	width: 60%;
	text-align: center;
	margin-top: 20px;
	height: 20px;
}

.restaurants-review-head-revise {
	margin: auto;
	width: 60%;
	text-align: center;
	margin-top: 20px;
	height: 20px;
}

.restaurants-review-contents-txt {
	padding: 30px 0 30px 30px;
	width: 80%;
	height: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.restaurants-review-contents-txt p {
	
}

.restaurants-review-contents-txt a {
	font-size: 0.9em;
	color: gray;
}

.restaurants-review-contents-image {
	margin-top: 60px;
	margin-left: 30px;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 120px;
}

.restaurants-review-contents-imageInfo {
	border: 1px solid black;
	width: 20%;
	height: 120px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
}

.restaurants-review-contents-imageInfo-plus {
	border: 1px solid black;
	width: 20%;
	height: 120px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: gray;
}

.restaurants-review-contents-imageInfo-plus a {
	line-height: 120px;
	color: white;
}

.restaurants-review-list-plus {
	border: 2px solid black;
	width: 100%;
	text-align: center;
	font-size: 2.0em;
	font-weight: bold;
	height: 120px;
	line-height: 120px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 100px;
}
/* review section 종료 */

/* review 상세보기 */
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:active {
	color: black;
}

.restaurants_review_info_popup {
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
	border: 5px solid #9bb7d6;
	width: 90%;
	height: 100%;
	margin-top: 20px;
}

.restaurants_review_info_image {
	width: 50%;
	height: 100%;
}

.restaurants_review_info_txt {
	width: 50%;
	height: 100%;
}

.restaurants_review_info_mainImage {
	width: 100%;
	height: 75%;
}

.restaurants_review_info_subImages {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25%;
	width: 100%
}

.restaurants_review_info_subImage {
	width: 25%;
	height: 85%;
	margin: 10px;
}

.restaurants_review_info_header {
	display: flex;
	height: 20%;
	width: 100%;
	padding-left: 40px;
}

.restaurants_review_info_out {
	background-color: #9bb7d6;
	color: white;
	border: 2px solid black;
	width: 6%;
	height: 25%;
	margin-top: 10px;
	margin-left: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	font-size: 1.4em;
}

.restaurants_review_info_user {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 90%;
}

.restaurants_review_info_contents {
	margin: auto;
	width: 90%;
	height: 80%;
	margin-top: 30px;
	padding: 0 10px 0 0;
	font-size: 0.9em;
}

.restaurants_review_info_userImg {
	width: 20%;
	height: 80%;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	margin: auto;
	margin-left: 10px;
}

.restaurants_review_info_userInfo {
	margin: 10px 20px 10px 20px;
	width: 75%;
	height: 80%;
}

.restaurants_review_info_star {
	width: 85%;
	height: 7%;
	font-size: 1.2em;
	margin: auto;
}

.restaurants_review_info_userInfo table {
	width: 80%;
	height: 80%;
}

.restaurants_review_info_recommend {
	height: 10%;
	width: 25%;
	font-size: 1.4em;
	text-align: center;
	border: 1px solid black;
	line-height: 65px;
	margin-left: 320px;
	background-color: #e7e7e7;
	color: black;
	cursor: pointer;
	border-radius: 0.5em;
	background-color: #9bb7d6;
}
/* review 상세보기 종료*/

/* review 쓰기 */
#restaurant-review-write-form {
	width: 90%;
	height: 100%;
	border: 2px solid black;
	margin: auto;
	margin-top: 20px;
}

.restaurant-review-write-out {
	background-color: #9bb7d6;
	color: white;
	width: 4%;
	height: 7%;
	margin: auto;
	border: 1px solid black;
	font-size: 1.2em;
	margin-left: 1000px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.restaurant-review-write-title {
	margin: auto;
	width: 86%;
	height: 15%;
	font-size: 1.2em;
}

#review-title {
	display: inline-block;
	font-size: 1.2em;
	margin: 20px 20px 0 20px;
	width: 10%;
}

#title {
	display: inline-block;
	height: 45%;
	width: 70%;
	font-size: 1.2em;
}

.restaurant-review-write-section-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	margin: auto;
}

.restaurant-review-write-content_star {
	direction: rtl;
	width: 20%;
	padding-right: 10px;
}

.restaurant-review-write-left input[type=radio] {
	display: none;
}

.restaurant-review-write-left label {
	font-size: 2em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

.restaurant-review-write-left label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.restaurant-review-write-left:hover ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.restaurant-review-write-left input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.content-star {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 30px;
}

#content {
	width: 80%;
	height: 100%;
	resize: none;
	font-size: 1.2em;
	padding: 10px;
}

.restaurant-review-write-section {
	width: 73%;
	height: 85%;
}

.restaurant-review-write-ImageUpload {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 20%;
	margin: auto;
}

.upload-mainImage {
	margin: auto;
	display: flex;
	width: 30%;
	height: 80%;
}

.upload-subImage {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 75%;
	height: 80%;
}

.restaurant-review-write-ImageUpload input[type=file] {
	display: none;
}

.upload-box {
	display: flex;
	border: 1px solid black;
	width: 110px;
	height: 100%;
	margin-left: 30px;
	margin-right: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 90px;
	background-color: #e7e7e7;
	font-size: 2.2em;
	align-items: center;
}

.img-box {
	flex: 1;
	margin-right: 10px;
}

.upload-title {
	width: 20%;
	text-align: center;
	line-height: 80px;
}

.restaurant-review-write-btn {
	margin: auto;
	width: 80%;
	height: 10%;
	text-align: center;
}

.restaurants-review-title {
	font-size: 1.2em;
	font-weight: bold;
}

#restaurant-review-write-modify {
	border-radius: 0.5em;
	background-color: #9bb7d6;
}

#restaurant-review-write-submit {
	border-radius: 0.5em;
	background-color: #9bb7d6;
}

#restaurant-review-write-delete {
	border-radius: 0.5em;
	background-color: #9bb7d6;
}

#restaurant-review-write-reset {
	border-radius: 0.5em;
	background-color: #9bb7d6;
}

.restaurant-review-write-btn input {
	width: 20%;
	height: 70%;
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
}

/* review 쓰기 종료 */

/* photo more 팝업창 css*/
.restaurants-photo-wrap {
	margin-top: 250px;
	width: 100%;
	height: 100%;
	margin: auto;
}

.swiper-container {
	width: 80%;
	height: 80%;
	margin: 20px auto;
	padding-top: 100px;
}

.swiper-slide-container {
	margin-top: 200px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 95%;
	max-width: 800px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.gallery-top {
	height: 80%;
	width: 80%;
}
/* photo more 팝업창 css 종*/

/* list top 50 페이지 */
.top50List {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.restaurant_top50List_head {
	font-size: 3em;
	text-align: center;
	color: #135aab;
}

.restaurant_top50List_array {
	width: 100%;
	border-bottom: 5px solid #9bb7d6;
	padding-bottom: 20px;
}

.restaurant_top50List_array_ul {
	list-style: none;
	display: flex;
	flex-decoration: row;
	margin: auto;
	width: 70%;
}

.restaurant_top50List_array_ul li {
	padding: 30px 5px 10px 5px;
	margin-left: 70px;
	text-align: center;
	font-size: 1.5em;
	margin: auto;
}

#restaurantList {
	border: 5px solid #9bb7d6;
	margin-top: 50px;
	width: 100%;
	height: 350px;
	display: flex;
	flex-docoration: row;
	padding: 30px 0 30px 10px;
}

.restaurantList_info {
	width: 50%;
	height: 240px;
	margin-left: 30px;
}

.restaurantList_image {
	cursor: pointer;
	width: 30%;
	border: 3px solid #9bb7d6;
	hegiht: 260px;
}

.restaurantList_info_head {
	margin-top:10px;
	cursor: pointer;
	width: 100%;
	height: 40px;
	font-size: 2.4em;
	padding-left: 10px;
	font-weight: bold;
}

.restaurantList_address {
	display: flex;
	flex-decoration: row;
	margin-top: 5px;
	height: 60px;
	padding-top: 5px;
}

.restaurantList_imoji {
	line-height: 50px;
	margin-right: 30px;
	font-size: 2em;
}

.restaurantList_address_address {
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.restaurantList_jibun {
	border: 1px solid #d3d3d3;
	color: white;
	background-color: #d3d3d3;
}

.restaurantList_open_info {
	margin-top: 10px;
	display: flex;
	flex-decoration: row;
}

.restaurantList_openTime {
	line-height: 50px;
	font-size: 1.2em;
	font-weight: bold;
}

.restaurantList_phone_info {
	margin-top: 5px;
	display: flex;
	flex-decoration: row;
}

.restaurantList_phone {
	line-height: 50px;
	font-size: 1.2em;
	font-weight: bold;
}

.restaurantList_most {
	width: 15%;
	margin-right:50px;
}

.restaurantList_more {
	border: 1px solid #9bb7d6;
	width: 200px;
	margin: auto;
	text-align: center;
	margin-top: 230px;
	height: 50px;
	margin-right:50px;
	background-color: #9bb7d6;
}

.restaurantList_more a {
	line-height: 50px;
	margin: auto;
	text-decoration: none;
	font-size: 1.1em;
	color: white;
}

.restaurantsList-count-info {
	font-size: 2em;
	font-weight: bold;
	margin-right: 20px;
}

.restaurant_top50List_arrayList {
	color: #9bb7d6;
}

.restaurant_top50List_arrayList:hover {
	color: #9bb7d6;
}

.restaurantList-count {
	margin-top: 10px;
	height: 50px;
}