/*비밀번호확인*/
#chkPwd{
	width:40%;
	height: 400px;
	margin:auto;
	margin-top: 20px;
}

#chkPwd #infoTable{
	margin-top: 20px;
	width:100%;
	border: none;
	font-size: 20px;
}
#chkPwd #infoTable tr{
	height:20px;
}
#chkPwd #infoTable .memberInfo{
	text-align: center;
	font-size: 30px;
}
#chkPwd #infoTable .inputPwdTr{
	text-align: center;
}

#chkPwd #infoTable .inputPwd{
	width: 80%;
	height: 50px;
	color:  #A4A4A4;
	border: 2px solid #A4A4A4;
}
#chkPwd #infoTable .guide{
	font-size: 8px;
	padding-left:60px;
}


#chkPwd #buttons{
	margin: 30px auto;
	box-sizing:border-box;
	width:180px;
	height:60px;
}
#chkPwd #buttons #btn_ChangeInfo{
	margin: auto;
	width:100%;
	height:100%;
	font-size: 23px;
	background-color: #9bb7d6;
	border-radius: 0.4em;
}


/* 회원정보조희 */
#chkInfo{
	width:40%;
	margin:auto;
	margin-top: 20px;
}
#chkInfo #infoTable{
	width:100%;
	border: 1px solid #A4A4A4;
	border-right: none;
	border-collapse: collapse;
	font-size: 20px;
}
#chkInfo #infoTable .infoName{
	width:25%;
	height: 35px;
	border : 1px solid #A4A4A4;
	padding-left:15px;
}
#chkInfo #infoTable .infoDetail{
	width:75%;
	border : 1px solid #A4A4A4;
	border-right: none;
	}
#chkInfo #infoTable .infoDetail input{
	height:100%;
	margin-left: 15px;
	background-color: white;
	border: none;
	font-size: 20px;
}
#chkInfo #infoTable .infoDetail .pwd{
	width: 80px;
}
#chkInfo #infoTable .infoDetail .Btn_change{
	width:40px;
	font-size:15px;
	background-color:  #9bb7d6;
	border :2px solid black;
	border-radius: 0.3em;
	text-align: center;
}
#chkInfo #buttons{
	margin: 30px auto;
	box-sizing:border-box;
	width:180px;
	height:60px;
}
#chkInfo #buttons #btn_ChangeInfo{
	margin: auto;
	width:100%;
	height:100%;
	font-size: 23px;
	background-color: #9bb7d6;
	border-radius: 0.4em;
}

/* 회원정보수정 */
#changeInfo{
	width:40%;
	margin:auto;
	margin-top: 20px;
}
#changeInfo #infoTable{
	width:100%;
	border: 1px solid #A4A4A4;
	border-right: none;
	border-collapse: collapse;
	font-size: 20px;
	border-spacing: 1px;
}

#changeInfo #infoTable .infoName{
	width:25%;
	height: 35px;
	border: 1px solid #A4A4A4;
	border-collapse:collapse;
	padding-left:15px;
}
#changeInfo #infoTable .infoDetail{
	width:75%;
	border : 1px solid #A4A4A4;
	border-right: none;
	}


#changeInfo #infoTable .infoDetail input{
	height:100%;
	margin-left: 15px;
	background-color: white;
	border: none;
	font-size: 20px;
}

#changeInfo #infoTable .infoDetail .infoBefore{
	width:150px;
}
#changeInfo #infoTable .changePwd{
	display:none;
}
#changeInfo #infoTable .changeNickName{
	display:none;
}
#changeInfo #infoTable .changeEmail{
	display:none;
}
#changeInfo #infoTable .changePh{
	display:none;
}


#changeInfo #infoTable .infoDetail .Btn_change{
	width:40px;
	font-size:15px;
	background-color:  #9bb7d6;
	border :2px solid black;
	border-radius: 0.3em;
	text-align: center;
}
#changeInfo #infoTable .infoBefore{
	margin-left:15px;
	background-color: white;
	border: none;
	font-size:15px;
}

#changeInfo #infoTable .infoNew{
	margin-left:15px;
	background-color: white;
	border: 1px solid #A4A4A4;
	font-size:15px;
	color: #A4A4A4;
}
#changeInfo #infoTable .infoConditon{
	margin-left:15px;
	font-size: 8px;
}

#changeInfo #infoTable #infoConditionTd{
}

#changeInfo #buttons{
	margin: 30px auto;
	box-sizing:border-box;
	width:50%;
	height:60px;
}

#changeInfo #buttons #btn_ChangeInfo{
	margin: auto;
	width:40%;
	height:100%;
	font-size: 23px;
	background-color: #9bb7d6;
	border-radius: 0.4em;
}


/*비밀번호 수정*/
#chagnePwd{
	width:40%;
	height: 400px;
	margin:auto;
	margin-top: 20px;
}

#chagnePwd #infoTable{
	margin-top: 20px;
	width:100%;
	
}
#chagnePwd #infoTable .trPwd{
	text-align: center;
}

#chagnePwd #infoTable .inputPwd{
	width: 70%;
	height: 30px;
	color: #A4A4A4;
	border: 1px solid #A4A4A4;
	font-size:15px;
	padding-left: 10px;
}

#chagnePwd #infoTable .inputPwd:focus{
	color: black;
}

#chagnePwd #infoTable .GuidePwd{
	height: 10px;
	font-size:8px;
	padding-left:120px;
}

#chagnePwd #buttons{
	margin: 30px auto;
	box-sizing:border-box;
	width:50%;
	height:60px;
	text-align: center;
}

#chagnePwd #buttons #btn_ChangeInfo{
	margin: auto;
	width:40%;
	height:100%;
	font-size: 23px;
	background-color: #9bb7d6;
	border-radius: 0.4em;
}



	