@charset "UTF-8";
.HeaderContainer {
	width: 90%;
	margin : 0 auto;
	height : 150px;	
}
.HeaderLogo {
	display: inline-block;
	width : 15%;
	height : 80%;
	position : relative;
	left : 2%;
	top : 5%;
}
.search {
	display : inline-block;
	width : 70%;
	height : 20%;
	position : relative;
	top : 38%;
	left : 3%;
}

.searchbox {
	width : 90%;
	height : 100%;
	border-radius : 0.2em;
}

.searchBtn{
	width : 38px ;
	height : 100%;
	background-color: #9bb7d6; 
	border-radius : 0.5em;
}
.headerMenu{
	display : inline-block;
	position : relative;
	bottom: 75%;
	float : right;
	color : #9bb7d6;
}
.serchDTL{
	display : inline-block;
	position : relative;
	float : left;
	left : 18.5%;
	bottom: 20%;	
}
.searchDTLBTN{
	height : 30px;
	background-color: #9bb7d6; 
	border-radius : 0.5em;
}

/* 슬라이드바에서 가져옴 다시 가져올것 수정함.*/
.slideshow-container {
	max-width: 1000px;
	height: 450px;
	position: relative;
	margin: auto;
}

.mainContainer {
	display : inline-block;
	position : relative;
	width : 75%;
	left : 5%;
	background-color: red;
}

#sidebarContainer {
	position:absolute; 
	top:610px; 
	right:50%; 
	margin-right:-670px;
	width : 13%;
}

.sidebarImg { 
	width : 100%;
}
