/*
	파 일명 칭   : restaurants.css
	작 성 자    : 정 원 영
	업데이트 날짜 : 2022. 07. 06 수
	수 정 날 짜  : 
	기  능      : 매장 css 
*/
@charset "UTF-8";
/* 헤더 CSS */ /* 임 시 용 */
.h_wrap {
	width: 100%;
	height: 150px;
	background-color: #B4C3FF;
	margin: 7px 0;
}
/* 헤더 CSS 종료 */

/* 상단 슬라이드 CSS*/



/* 상단 슬라이드 CSS 종료*/