/*
	파 일명 칭   : restaurants.css
	작 성 자    : 정 원 영
	업데이트 날짜 : 2022. 07. 06 수
	수 정 날 짜  : 2022. 07. 07 목
	기  능      : 매장 css 
*/
@charset "UTF-8";

/* 헤더 CSS */
.HeaderContainer {
	width: 90%;
	margin: 0 auto;
	height: 150px;
}

.HeaderLogo {
	display: inline-block;
	width: 15%;
	height: 80%;
	position: relative;
	left: 2%;
	top: 5%;
}
/* 마이메뉴css */
.myMenu {
	display: none;
	width: 100px;
	height: 150px;
	position: absolute;
	left: 300px;
	border: 1px solid #9bb7d6;
	margin: 0px;
}

.myMenu ul {
	list-style: none;
}

.search {
	display: inline-block;
	width: 70%;
	height: 20%;
	position: relative;
	top: -10%;
	left: 3%;
}

.searchbox {
	width: 90%;
	height: 100%;
	border-radius: 0.2em;
}

.searchBtn {
	width: 38px;
	height: 100%;
	background-color: #9bb7d6;
	border-radius: 0.5em;
}

.headerMenu {
	display: inline-block;
	position: relative;
	bottom: 75%;
	float: right;
	color: #9bb7d6;
}

.serchDTL {
	display: inline-block;
	position: relative;
	float: left;
	left: 18.5%;
	bottom: 18%;
}

.searchDTLBTN {
	height: 30px;
	background-color: #9bb7d6;
	border-radius: 0.5em;
}
/* 헤더 CSS 종료 */

/* slide CSS*/
.swiper-container {
	margin-top: 20px;
	width: 90%;
	height: 25%;
}

.swiper-wrapper {
	display: flex;
	flex-direction: row;
	height: 95%;
}

.swiper-slide {
	width: 25%;
	height: 380px;
	opacity: 0.4;
	transition: opacity 0.3s;
}

.slideMainImage {
	margin-top: 20px;
	width: 100%;
	height: 330px;
	border: 1px solid blue;
	cursor: pointer;
}

.swiper-slide-active, .swiper-slide-active+.swiper-slide,
	.swiper-slide-active+.swiper-slide+.swiper-slide, .swiper-slide-active+.swiper-slide+.swiper-slide+.swiper-slide
	{
	opacity: 1
}

#restaurants-star1 {
	font-size: 3em;
	width: 100%;
	height: 100%;
	line-height: 30px;
	background-color: white;
	border: white;
	color: gray;
	cursor: pointer;
}

.image-more {
	margin-top: 10px;
	width: 100%;
	text-align: right;
}

.image-more a {
	padding-right: 200px;
	color: gray;
	font-size: 25px;
	text-decoration: none;
}

.restaurants-view {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 100px;
}

.restaurants-info {
	width: 50%;
	height: 600px;
}

.restaurants-map {
	width: 50%;
	border: 1px solid blue;
	height: 400px;
	margin-top: 30px;
	margin-left: 100px;
	padding: 20px;
}

.restaurants-info {
	width: 50%;
	height: 500px;
}

.restaurants-info-head {
	display: flex;
	width: 100%;
	height: 60px;
}

.restaurants-detail {
	padding-top: 20px;
	width: 90%;
	height: 300px;
	margin: auto;
	font-size: 23px;
	border-top: 1px solid black;
}

.restaurants-detail td {
	padding-left: 40px;
}

.restaurants-name {
	font-size: 35px;
	font-weight: bold;
	margin: auto;
}

.restaurants-steamed {
	width: 10%;
	margin-right: 20px;
	text-align: right;
	
}

.restaurants-count-info {
	font-size: 30px;
	font-weight: bold;
	padding-left: 35px;
}

.restaurants-fixInfo {
	font-size: 0.9em;
	padding-top: 10px;
	padding-left: 20px;
}

.restaurants-info-update {
	color: gray;
	margin-top: 25px;
	text-align: right;
}
/* slide CSS 종료*/

/* review section */
a:active {
	color: gray;
}

a {
	text-decoration: none;
}

.restaurants-review-section {
	width: 80%;
	margin: auto;
	margin-top: 100px;
}

.restaurants-review-header {
	margin: auto;
	width: 100%;
	height: 50px;
	font-size: 35px;
	font-weight: bold;
	padding-left: 30px;
}

.restaurants-review-sort {
	width: 100%;
	text-align: right;
	border-bottom: 2px solid black;
	font-size: 25px;
	height: 50px;
}

.restaurants-review-sort span {
	padding: 10px 20px 10px 0;
}

.restaurants-review-writeInfo {
	width: 100%;
	height: 50px;
	font-size: 1.5em;
	text-align: right;
	padding-top: 15px;
}

.restaurants-review-writeInfo a {
	padding-right: 30px;
}

.restaurants-review-list {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid gray;
	height: 300px;
}

.restaurants-review-head {
	width: 20%;
	height: 300px;
}

.restaurants-review-contents {
	width: 60%;
	height: 300px;
}

.restaurants-review-steamed {
	margin: 200px 20px 20px 20px;
	width: 20%;
	height: 70px;
	border: 1px solid black;
	text-align: center;
	line-height: 70px;
	font-size: 1.4em;
	font-weight: bold;
	color: black;
	background-color: #9bb7d6;
	cursor: pointer;
	border-radius: 0.5em;
}

.restaurants-review-head-image {
	border: 1px solid black;
	margin: auto;
	margin-top: 30px;
	width: 120px;
	height: 120px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	font-size: 1.7em;
	line-height: 140px;
	font-weight: bold;
}

.restaurants-review-head-name {
	margin: auto;
	width: 80%;
	height: 20px;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}

.restaurants-review-head-star5 {
	margin: auto;
	width: 60%;
	text-align: center;
	margin-top: 20px;
	height: 20px;
}

.restaurants-review-head-revise {
	margin: auto;
	width: 60%;
	text-align: center;
	margin-top: 20px;
	height: 20px;
}

.restaurants-review-contents-txt {
	padding: 30px 0 30px 30px;
	width: 80%;
	height: 100px;
	font-size: 1.3em;
}

.restaurants-review-contents-txt a {
	font-size: 0.9em;
	color: gray;
}

.restaurants-review-contents-image {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 135px;
}

.restaurants-review-contents-imageInfo {
	border: 1px solid black;
	width: 20%;
	height: 120px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
}

.restaurants-review-contents-imageInfo-plus {
	border: 1px solid black;
	width: 20%;
	height: 120px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: gray;
}

.restaurants-review-contents-imageInfo-plus a {
	line-height: 120px;
	color: white;
}

.restaurants-review-list-plus {
	border: 2px solid black;
	width: 100%;
	text-align: center;
	font-size: 2.0em;
	font-weight: bold;
	height: 120px;
	line-height: 120px;
	margin: auto;
	margin-top: 30px;
}
/* review section 종료 */

/* review 상세보기 */
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:active {
	color: black;
}

.restaurants_review_info_popup {
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
	border: 2px solid black;
	width: 90%;
	height: 100%;
	margin-top: 20px;
}

.restaurants_review_info_image {
	width: 50%;
	height: 100%;
}

.restaurants_review_info_txt {
	width: 50%;
	height: 100%;
}

.restaurants_review_info_mainImage {
	width: 100%;
	border: 1px solid blue;
	height: 75%;
}

.restaurants_review_info_subImages {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25%;
	width: 100%
}

.restaurants_review_info_subImage {
	width: 25%;
	border: 1px solid black;
	height: 85%;
	margin: 10px;
}

.restaurants_review_info_header {
	display: flex;
	height: 20%;
	width: 100%;
	padding-left: 40px;
}

.restaurants_review_info_out {
	border: 2px solid black;
	width: 6%;
	height: 25%;
	margin-top: 10px;
	margin-left: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	font-size: 1.4em;
}

.restaurants_review_info_user {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 90%;
}

.restaurants_review_info_contents {
	margin: auto;
	width: 80%;
	height: 50%;
	margin-top: 30px;
	padding: 0 50px 0 0;
	font-size: 1.2em;
}

.restaurants_review_info_userImg {
	width: 20%;
	height: 80%;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	margin: auto;
	margin-left: 10px;
}

.restaurants_review_info_userInfo {
	margin: 10px 20px 10px 20px;
	width: 75%;
	height: 80%;
}

.restaurants_review_info_star {
	width: 85%;
	height: 7%;
	font-size: 1.2em;
	margin: auto;
}

.restaurants_review_info_userInfo table {
	width: 80%;
	height: 80%;
}

.restaurants_review_info_recommend {
	height: 10%;
	width: 25%;
	font-size: 1.4em;
	text-align: center;
	border: 1px solid black;
	line-height: 65px;
	margin-left: 320px;
	background-color: #e7e7e7;
	color: black;
	cursor: pointer;
	border-radius: 0.5em;
	background-color: #9bb7d6;
}
/* review 상세보기 종료*/

/* review 쓰기 */
#restaurant-review-write-form {
	width: 90%;
	height: 100%;
	border: 2px solid black;
	margin: auto;
	margin-top: 20px;
}

.restaurant-review-write-out {
	width: 4%;
	height: 7%;
	margin: auto;
	border: 1px solid black;
	font-size: 1.2em;
	margin-left: 900px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.restaurant-review-write-title {
	margin: auto;
	width: 86%;
	height: 15%;
	font-size: 1.2em;
}

#review-title {
	display: inline-block;
	font-size: 1.2em;
	margin: 20px 20px 0 20px;
	width: 10%;
}

#title {
	display: inline-block;
	height: 45%;
	width: 70%;
	font-size: 1.2em;
}

.restaurant-review-write-section-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	margin: auto;
}

.restaurant-review-write-content_star {
	direction: rtl;
	width: 20%;
}

.restaurant-review-write-left input[type=radio] {
	display: none;
}

.restaurant-review-write-left label {
	font-size: 2em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

.restaurant-review-write-left label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.restaurant-review-write-left:hover ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.restaurant-review-write-left input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.content-star {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 30px;
}

#content {
	width: 80%;
	height: 100%;
	resize: none;
	font-size: 1.2em;
	padding: 10px;
}

.restaurant-review-write-section {
	width: 73%;
	height: 85%;
}

.restaurant-review-write-ImageUpload {
	display: flex;
	flex-direction: row;
	width: 70%;
	height: 20%;
	margin: auto;
}

.upload-mainImage {
	margin: auto;
	display: flex;
	width: 35%;
	height: 80%;
}

.upload-subImage {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 75%;
	height: 80%;
}

.restaurant-review-write-ImageUpload input[type=file] {
	display: none;
}

.upload-box {
	border: 1px solid black;
	width: 90%;
	height: 100%;
	margin-left: 60px;
	text-align: center;
	font-weight: bold;
	line-height: 90px;
	background-color: #e7e7e7;
	font-size: 2em;
}

.upload-title {
	width: 20%;
	text-align: center;
	line-height: 80px;
}

.restaurant-review-write-btn {
	margin: auto;
	width: 80%;
	height: 10%;
	text-align: center;
}
#restaurant-review-write-modify {
	border-radius: 0.5em;
	background-color: #9bb7d6;
}
#restaurant-review-write-submit{
	border-radius: 0.5em;
	background-color: #9bb7d6;
}
#restaurant-review-write-delete{
	border-radius: 0.5em;
	background-color: #9bb7d6;
}
.restaurant-review-write-btn input {
	width: 20%;
	height: 70%;
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
}

/* review 쓰기 종료 */

/* photo more 팝업창 css*/
.restaurants-photo-wrap {
	margin-top: 30px;
	width: 100%;
	height: 100%;
	margin: auto;
}

.swiper-container {
	width: 80%;
	height: 80%;
	margin: 20px auto;
}

.swiper-slide-container {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 95%;
	max-width: 600px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid green;
}

.gallery-top {
	height: 70%;
	width: 80%;
}

.gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
	width: 15%;
	height: 100%;
	opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
/* photo more 팝업창 css 종*/